* {
    box-sizing: border-box;
}

@font-face {
    font-family: "PokemonHollow";
    src: url("../fonts/PokemonHollow.ttf");
}

@font-face {
    font-family: "PokemonSolid";
    src: url("../fonts/PokemonSolid.ttf");
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    width: 100vw;
    height: 200px;
    font-size: 7em;
    font-family: 'PokemonHollow';
    object-fit: contain
}

.logo {
    object-fit: contain;
    max-width: 150px;
    max-height: 150px;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:30vh;
    background-color: rgba(68, 68, 68, 0.5);
    font-family: 'Roboto', sans-serif;
}

#tools {
    border-radius: 50%;
    background-color: white;
    width:30%;
    height: 90%;
    padding: 8% ;
}

main{
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(251, 255, 0, 0.5); */
    background-color: white;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    width: 100vw;
    height: 150px;
    font-size: 2em;
    font-family: 'PokemonSolid';
}